<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guest List</title>
  <script src="https://vuejs.org/js/vue.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div class="container">
    <div id="nav">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>{{appName}}</h1>
          <hr>
        </div>

        <div>
          <ul class="nav">
            <div v-for="navLink in navLinks" :key="navLink.id">
              <li class="nav-item"><a class="nav-link" :href="navLink.url">{{navLink.name}}</a></li>
              <hr>
            </div>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div id="app">

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header" v-text="event.date">
            </div>
            <div class="card-block">
              <h4 class="card-title">{{event.title}}</h4>
              <hr>
              <p class="card-text" v-once="event.description"></p>
              <p class="card-text">Add your name to the guest list for exclusive offers:</p>

              <form class="form-inline" @submit.prevent="formSubmitted">
                <input type="text" id="nameInput" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Jane Doe"
                  v-model="newNameText">
                <input type="submit" class="btn btn-primary"></input>
              </form>
              {{newNameText}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              Attending: {{guestNames.length}} / {{eventCapacity}}
              <br>
              <progress :style="{width: eventCapacityPercentage + '%'}"></progress>
            </div>
            <div class="card-block">
              <div v-if="guestNames.length > 0">
                <div class="card-success rounded name-box" v-for="name in sortNames">
                  {{name | formatName}}
                </div>
              </div>
              <div v-else>
                <h4>No names added yet...</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>